@font-face {
    font-family: EBGaramond;
    src: url('/fonts/EBGaramond-VariableFont_wght.ttf');
}

html {
    font-family: EBGaramond;
    font-size: calc(100% + 3px);
}

.main-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
}

.main-title .line1 {
    font-weight: 500;
    font-size: clamp(2.5rem, 14vmin, 10rem);
    line-height: clamp(1rem, 9vmin, 7rem);;
}

.main-title .line2 {
    font-size: clamp(1rem, 3vmin, 2.5rem);
    line-height: clamp(1rem, 10vmin, 6rem);
}
