:root { --color-neutral: 255, 255, 255;
--color-neutral-50:     255,255,255;
--color-neutral-100:    255,255,255;
--color-neutral-200:    214,219,222;
--color-neutral-300:    172,183,188;
--color-neutral-400:    129,146,154;
--color-neutral-500:    92,107,115;
--color-neutral-600:    74,86,92;
--color-neutral-700:    56,65,70;
--color-neutral-800:    38,44,47;
--color-neutral-900:    19,23,24;
--color-primary-50:     255,255,255;
--color-primary-100:    255,255,255;
--color-primary-200:    255,255,255;
--color-primary-300:    250,251,252;
--color-primary-400:    204,216,222;
--color-primary-500:    157,180,192;
--color-primary-600:    132,161,176;
--color-primary-700:    107,142,160;
--color-primary-800:    89,121,138;
--color-primary-900:    73,99,113;
--color-primary-50:    230, 240, 255;
--color-primary-100:   210, 230, 255;
--color-primary-200:   170, 200, 240;
--color-primary-300:   120, 160, 220;
--color-primary-400:   80, 120, 200;
--color-primary-500:   50, 90, 170;
--color-primary-600:   40, 75, 140;
--color-primary-700:   30, 60, 110;
--color-primary-800:   20, 45, 80;
--color-primary-900:   10, 30, 50;
}
